<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>
    Drive And Reel
</title>

</head>
<body>
	<div class="page-header">
		<div class="row">
			<div class="col-sm-4">
				<img src="./static/images/home.png" class="img-rounded" alt="Cinque Terre">	
			</div>	
			<div class="col-sm-4" style="text-align:center">
				<h1>Wheel <span style="color:#FF0000">And </span> Reel</h1>
				<div id="tagline"><h5>Book Now to watch your favorite movies!</h5></div>
			</div>	
		</div>
	</div>
    <div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-2">
			<br></br>
			<br></br>
			<img src="./static/images/purchase.png" class="img-rounded" alt="Cinque Terre">	
		</div>
		<div class="col-sm-4">
            <h1 style="text-align:center">Payment</h1>
            <form action="http://127.0.0.1:5000/purchase" method="POST">
				<h5> <b>Total Cost: </b> ${{purchaseInfo.totalCost}}</h5>
                <h5><b>Card Type</b></h5>
                <div class="radio">
                    <label for="cardType"><input type="radio" name="cardType" id="cardType" value="credit" checked>Credit</label>
                </div>
                <div class="radio">
                    <label for="cardType"><input type="radio" name="cardType" id="cardType" value="debit">Debit</label>
                </div>
				<div class="form-group">
                    <label for="cardNumber">Card Number</label>
                    <input type="text" name="cardNumber" class="form-control" id="cardNumber" maxlength="16">
				</div>
				<div class="form-group">
					<label for="expireMonth">Exp Month</label>
					<input type="text" name="expireMonth" class="form-control" id="expireMonth" placeholder="08" maxlength="2">
				</div>
				<div class="form-group">
					<label for="expireYear">Exp Year</label>
					<input type="text" name="expireYear" class="form-control" id="expireYear" placeholder="2024" maxlength="4">
				</div>
				<div class="form-group">
					<label for="CVV	">CVV</label>
					<input type="securityCode" name="securityCode" class="form-control" id="securityCode" maxlength="3" placeholder="123">
				</div>
				<button onclick="location.href='dashboard'" style="background-color: #FF0000;" type="reset" class="btn btn-default">Cancel</button>
				<button style="background-color: #FF0000;" type="Submit" class="btn btn-default">Make Payment</button>
            </form>
		</div>
		<div class="col-sm-4"> </div>	
    </div>